@model FacturacionSAT.CSL.WEB.Models.CFDIConceptoGrupoModels

<div class="modal-Seleccione">
    <div class="modal-headerSeleccione">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>CFDI Grupo</strong></h4>
    </div>
    <div class="modal-body">

        <table id="dtClaveGrupo" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Clave Grupo SAT</th>
                    <th>Grupo</th>
                </tr>
            </thead>
        </table>

        <div class="modal-footer">

            <button id="btnGuardarClaveGrupo" type="button" class="btn btn-success green">Guardar</button>
            <button type="button" class="btn btn-secondary red" data-dismiss="modal">Cancelar</button>

        </div>
    </div>

</div>



