@model FacturacionSAT.CSL.WEB.Models.CFDIConceptosTipoProductoModels

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Tipo Producto</h4>
    </div>
    <div class="modal-body">
       
            <table id="dtTipoProducto" class="display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Clave Tipo Producto SAT</th>
                        <th>Tipo Producto</th>
                    </tr>
                </thead>
            </table>
       
        <div class="modal-footer">

            <button id="btnGuardarTipoProducto" type="button" class="btn btn-success green">Guardar</button>
            <button type="button" class="btn btn-secondary red" data-dismiss="modal">Cancelar</button>

        </div>
    </div>

</div>



