
@{
    ViewBag.Title = "Facturacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=====================Content======================-->
<section class="zonafact">
    <div class="title">
        <h1>Realice su facturación</h1>
    </div>
    <div class="container contenidoTabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="factura-tab" data-toggle="tab" href="#factura" role="tab" aria-controls="factura" aria-selected="true">Facturar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ticketFactura-tab" data-toggle="tab" href="#ticketFactura" role="tab" aria-controls="ticketFactura" aria-selected="false">Consultar por Ticket</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="factura" role="tabpanel" aria-labelledby="factura-tab">
                <div class="formFacturar">
                    <form action="">
                        <div class="formTitle">
                            <h2>Facturar</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="group-input">
                                    <input type="text" name="membresia" class="form-control factura" placeholder="Membresía o RFC">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group-input">
                                    <input type="text" name="codigoPostal" class="form-control factura" placeholder="Código postal">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group-input">
                                    <input type="text" name="noTicket" class="form-control factura" placeholder="Número de ticket">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group-input">
                                    <input type="text" name="transaccion" class="form-control factura" placeholder="# Transacción">
                                </div>
                            </div>
                        </div>
                        <div class="actionButtons">
                            <a href="#"><button type="button" class="">Cancelar</button></a>
                            <a href=""><button class="" type="submit">Continuar</button></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="ticketFactura" role="tabpanel" aria-labelledby="ticketFactura-tab">
                <div class="formFacturar">
                    <form>
                        <div class="formTitle">
                            <h2>Consultar por número de ticket</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="group-input">
                                    <input type="text" name="noConsultaTicket" placeholder="Número de Ticket o factura" class="form-control factura">
                                </div>
                            </div>

                        </div>
                        <div class="actionButtons">
                            <a href="#"><button type="button" class="">Cancelar</button></a>
                            <a href=""><button class="" type="submit">Continuar</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
