
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <style>
        a.redireccionar {
            text-decoration: none;
        }
        /* visited link */
            a.redireccionar:visited, a.redireccionar:link {
                color: white;
            }
    </style>
}

<section class="container-factur">
    <div class="facturacion">
        <ul>
            <li class="factu-zone">
                <h1>Facturación <span>Viajes Aury</span></h1>
                <a href="#makeadill" class="redireccionar">Ir a facturar</a>
            </li>
        </ul>
    </div>
</section>
<section id="makeadill" class="makeafactura" style="height: 500px;">
    <div class="serv-fact">
        <div class="sercontent">
            <h2>Servicio de factura <span>Electrónica</span></h2>
        </div>
        <div class="optioncontent">
            <ul>
                <li><a href="@Url.Action("Facturacion", "Home")" class="redireccionar">Obtener factura</a></li>
                <li><a href="@Url.Content("~/Content/pagina/document/infografia-facturacion.size.pdf#zoom=200")" class="redireccionar">¿Cómo hacer una factura?</a></li>
            </ul>
        </div>
    </div>
</section>